<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Online Exam System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/Home.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="spacer"></div>
            <span class="navbar-text">Online Exam System</span>
            <div class="spacer"></div>
        </div>
    </nav>

    <div class="container">
        <div class="login-heading">
            <h2>Welcome to Online Exam System</h2>
        </div>
        <div class="buttons">
            <button onclick="takeExam()" class="btn btn-primary">Take Exam</button>
            <button onclick="showResult()" class="btn btn-primary">Show Result</button>
        </div>
    </div>

    <script src="../static/js/Home.js"></script>
</body>
</html>
